.overviewGrid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  /* Left column 1 part, right column 2 parts */
  gap: 2rem;
  align-items: stretch;
  /* Make columns equal height */
  margin-bottom: 2rem;
}

.chartColumn {
  display: flex;
}

.fullHeightCard {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* --- RESPONSIVE STYLES --- */
@media (max-width: 992px) {
  .overviewGrid {
    grid-template-columns: 1fr;
  }
}